body {
  background-color: #fffac1; }

.title {
  border-bottom: 1px solid #fcd180;
  margin: 0 0 15px 0;
  text-align: center;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  padding-top: 10px; }
  .title h3 {
    color: #f5f3ec;
    font-weight: normal; }

.addItem {
  background: none;
  border: 1px solid #c4c4c4;
  border-left: none;
  background-color: whitesmoke;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: center; }

#list {
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #ffbd53; }

.item {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 10px;
  overflow: hidden; }
  .item .task-name {
    display: block;
    float: left;
    color: #4d4d4d; }
  .item .removeBtn {
    width: 16px;
    height: 16px;
    border: none;
    background: none;
    background-image: url("../img/cross.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 14px;
    display: block;
    float: right;
    overflow: hidden; }

.footer {
  padding-top: 15px;
  color: #4e2a14; }
  .footer .numberOfTasks {
    float: left;
    font-size: 16px;
    text-align: left; }
